.main-screen {
    background: url(/images/home-menu-bg-overlay.svg), linear-gradient(to right bottom, #77717e, #c9a8a9);
    background-size: cover;
    height: 100vh;
  font-family: Arial, "Khmer OS Bokor", sans-serif;
}
.clearboth{
    clear: both;
}
.main-page-content{
  font-family: Arial, "Khmer OS Bokor", sans-serif;
  min-height: calc(100vh - 80px);
  background-color: #f8f9fa;
}

.content-background-color{
  background-color: #FFFFFF;
}

body {
  /*font-family: "Khmer OS Bokor", sans-serif;*/
  font-family: Arial, "Khmer OS Bokor", sans-serif;
}
.head-title {
  font-weight: bold;
  color: #000;

}
.btn-wrapper{
  padding-left: 2px;
}

.margin-right-20-percentage{
  margin-right: 20px;
}
.width-20-percentage{
  width: 20%;
}

.width-29-percentage{
  width: 29%;
}

.width-40-percentage{
  width: 40%;
}

.width-48-percentage{
  width: 48%;
}
.width-60-percentage{
  width: 60%;
}

.width-50-percentage{
  width: 50%;
}

.width-45-percentage{
  width: 45%;
}

.width-30-percentage{
  width: 30%;
}

.width-35-percentage{
  width: 35%;
}
.max-width-60-percentage{
  max-width: 60%;
}

.margin-top-25{
  margin-top: 25px;
}
.display-inline-block{
  display: inline-block;
}

.full-with{
  width: 100%;
}

.full-content{
  display: inline-block;
  width: 100%;
}
.full-container{
  display: inline-block;
  width: 100%;
  min-height: calc(100vh - 150px);
}

.user-select-none{
  user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
}

.content-product-full-height{
  height: calc(100vh - 150px)
}
.content-user{
  min-height: calc(100vh - 140px);
}

.content-input-date{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  padding-bottom: 0;
  height: auto !important;
}

.content-loading{
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
}
.active-item-product{
  background-color: #ccc;
}

.form-content-detail{
  display: inline-block;
  width: 100%;
}

.select-content-inline{
  width: 68%;
  height: auto !important;
  padding: 3px !important;
}

.label-with{
  width: 30%;
}

.content-label{
  max-width: 8%;
}

.content-input{
  max-width: 60%;
}

.margin-btn{
  margin-left: 0;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.form-header-title{
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 900;
}

.padding-top-20{
  padding-top: 20px;
}
.margin-span-btn{
  margin-right: 5px;
}

.margin-5{
  margin-top: 5px;
}

.font-700{
  font-weight: 700;
}

.content-field-purchase{
  margin-bottom: 10px;
  width: 40%;
}

.margin-bottom-20{
  margin-bottom: 20px;
}
.width-25-percentage{
  width: 25%;
}
.width-20-percentage{
  width: 20%;
}
.width-19-percentage{
  width: 19%;
}
.width-18-percentage{
  width: 18%;
}

.width-15-percentage{
  width: 15% !important;
}
.width-14-percentage{
  width: 14%;
}
.width-13-percentage{
  width: 13%;
}
.width-12-percentage{
  width: 12%;
}
.width-11-percentage{
  width: 11%;
}

.width-10-percentage{
  width: 10%;
}

.width-9-percentage{
  width: 9%;
}

.width-8-percentage{
  width: 8%;
}
.width-7-percentage{
  width: 7%;
}
.width-6-percentage{
  width: 6%;
}

.width-5-percentage{
  width: 5%;
}
.width-4-percentage{
  width: 4%
}
.width-3-percentage{
  width: 3%
}




.content-pagination{
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  float: right;
}

.calculator-product-content{
  margin-top: 15px;
  display: inline-block;
  overflow-y: auto;
  height: 400px;
  width: 100%;
}

.input-no-background{
  background: none !important;
  border: none;
}

.label-margin-top{
  margin-top: 7px;
}

.input-scanning:focus{
  outline: none;
  box-shadow: none;
  border: none;
}

.font-size-28 {
  font-size: 28px !important;
}

.color-white {
  color: white;
}

.justify-content-center{
  justify-content: center;
}

#modal-submit-payment .table-payment th {
  border-top: none ;
}

#modal-submit-payment .table-payment td {
  border-top: none ;
}

.input-content {
  /*padding: 4px;*/
  height: auto;
  padding-top: 4px;
  padding-bottom: 4px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.form-row-content-detail{
  display:inline-block;
  /*width: 100%;*/
  overflow: hidden;
}
.form-column-label{
  display: inline-block;
  width: 145px;
  overflow: hidden;
}

.form-column-input {
  display: inline-block;
  overflow: hidden;
  width: 190px;
}

.display-none{
  display: none;
}

.container-row-form{
  display: inline-block;
  overflow: hidden;
}

.content-logout{
  display: inline-block;
  float: right;
}

.content-logout .ul-style{
  list-style: none;
  color: #ffffff;
  margin: 0;
}
.ul-no-style{
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-li-menu-store{
  display: inline-block;
  overflow: hidden;
  margin: 5px;
}
.content-button{
  width: 137px;
  height: 114px;
}
.btn-store-item{
  height: 100%;
}
.content-menu{
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  width: 150px;
  height: 150px;
}

.a-content-menu{
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.content-logout .ul-style .li-style{
  display: inline-block;
  line-height: 45px;
  cursor: pointer;
  padding: 0 15px;
  height: 50px;
}
.button-no-background{
  background: none;
  border: none;
}

.button-no-background:hover,
.button-no-background:focus,
.button-no-background:active,
.button-no-background:focus-visible{
  background: none;
  border: none;
  outline: none ;
  box-shadow: none;
}

.no-padding-right{
  padding-right: 0 !important;
}

.text-bold{
  font-weight: 900;
}

.content-table-scroll {
  max-height: calc(100vh - 206px);
}
.inventory-dashboard-content{
  display: inline-block;
  width: 100%;
  height: calc(100vh - 206px);;
}

.content-report-input-filter{
  width: 100%;
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 15px;
  padding-left: 5px;
}

.cursor-default{
  cursor: default;
}

.no-cursor, .no-cursor:focus, .no-cursor:hover{
  color: white;
  outline: none;
  text-decoration: none;
}
.td-code{
  padding: 0 !important;
}
.payment-form-modal{
  /*width: 500px;*/
}
.label-content-user{
  width: 116px;
  margin-left: 15px;
}
.row-content-view{
  min-width: 60%;
}
.header-th{
  font-size: 17px;
}
@media print {
  @page {
    size: landscape
  }
}

.footer{
  text-align: center;
}

.content-user-img{
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  background: wheat;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}
.content-user-img img{
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.content-user-profile{
  display: inline-block;
  overflow: hidden;
}
.margin-right-20-px{
  margin-right: 20px;
}
.margin-right-80-px{
  margin-right: 80px;
}

.color-black{
  color: #000000;
  font-weight: 700;
}

.modal-lg{
  max-width: 1200px;
}

.barcodeStyle {
  height: 150px;
  width: 200px;
  padding-left: 40%;
  padding-top: 9%;
}

.multiple-select .multiselect .multiselect__tags .multiselect__input{
  font-size: 14px !important;
}
.multiple-select .multiselect .multiselect__tags .multiselect__content-wrapper .multiselect__content .multiselect__element .multiselect__option {
  font-size: 13px !important;
}

.min-height-43-px{
  min-height: 43px;
}
.content-multiple-select{
  margin: 0;
  padding: 0;
}
.content-multiple-select .multiselect__placeholder{
  color: #000000;
}
.btn-no-background{
  padding: 0;
  background: none;
  border: none;
  color: #28a745;
  font-size: 19px;
  display: inline-block;
  overflow: hidden;
  margin-right: 5px;
}

.btn-no-background:hover, .btn-no-background:active, .btn-no-background:focus, .btn-no-background:focus-visible{
  background: none !important;
  border: none !important;
  color: #28a745 !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn-no-background-danger{
  padding: 0;
  background: none;
  border: none;
  color: #dc3545;
  font-size: 19px;
  display: inline-block;
  overflow: hidden;
  margin-right: 5px;
}

.btn-no-background-danger:hover, .btn-no-background-danger:active, .btn-no-background-danger:focus, .btn-no-background-danger:focus-visible{
  background: none !important;
  border: none !important;
  color: #dc3545 !important;
  outline: none !important;
  box-shadow: none !important;
}
.payment-form-modal .table-product-detail tbody tr td{
  height: 52px;
}
.active-color{
  background-color: #e7e3e3;
}
.card-border-class{
  border-radius: 8px;
  box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%), 0 1px 8px 0 rgb(39 44 51 / 2%);
}
.card-border-class-active{
  border-left-color: #ed0b4c!important
}
