@media print {
  @page {
    size: 40mm 30mm;
  }
  .printme {
    position: absolute;
    left: 0;
    top: 0;
  }
  html, body {

    overflow: hidden;
    display: inline-block;
    height: auto;
    font-size: 5pt; /* changing to 10pt has no impact */
  }
  span{
    font-size: 9pt !important;
  }
}

